django==3.2
django-debug-toolbar==3.2.1
django-extensions==3.1.2
djangorestframework==3.12.4
jupyter==1.0.0
numpy==1.20.2
pandas==1.2.4
requests==2.25.1
gunicorn==20.1.0
hypothesis==6.14.7
ipdb==0.13.8
mypy==0.812
social-auth-app-django==4.0.0
social-auth-core==4.1.0
pip-tools==6.4.0
psycopg2==2.8.6
django-cors-headers==3.10.0