.portfolio-chart {
    display: flex;
    flex-direction: column;
    margin-bottom: 4em;
}

.portfolio-overview {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

.quick-actions {
    margin-bottom: 1em;
}

.account-stats-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}


h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.main {
    width: 100%;
}

.grid-container {
    grid-template-rows: 1fr 120px;
    grid-template-areas: 'main''footer';
}

.main-content {
    width: 90%;
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: 2em;
}

.main-grid {
    display: grid;
    grid-template-rows: 140px 100px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "header""sidenav""main-content";
}

@media only screen and (max-width: 450px) {
    .logo {
        padding: unset;
    }

    .main-header {
        flex-direction: column;
        justify-content: space-evenly;
    }
}

@media only screen and (min-width: 450px) {
    .main-grid {
        grid-template-rows: 80px 60px 1fr;
    }
}

.sidenav {
    padding: 20px;
    grid-area: sidenav;
    height: 100%;

}

.sidenav>ul {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}


@media only screen and (min-width: 800px) {


    .sidenav {
        flex-direction: column;
        padding: 20px;
        margin-top: 5em;
        position: fixed;
        grid-area: sidenav;
        height: 100%;
        width: 200px;
    }

    .sidenav>ul {
        flex-direction: column;
        gap: 0;
    }

    .sidenav {
        display: unset;
    }

    .main-grid {
        display: grid;
        grid-template-rows: 80px 1fr;
        grid-template-columns: 200px 1fr;
        grid-template-areas: "header header""sidenav main-content";
    }

    .main-content {
        width: 80%;
        margin-bottom: 2em;
    }

}


.sidenav a {
    color: #404747;
}

.sidenav>ul {
    padding-left: 10px;
    border-left: 4px solid #1b98a147;
}

header {
    grid-area: header;
    border-bottom: 2px solid #1b98a1;
    margin-bottom: 1em;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: #d0d8d7 3px 3px 5px 2px;
}

.main-grid a.logo {
    font-size: 20px;
    color: black;
}

.main-grid header a {
    font-weight: normal;
}

.card {
    padding: 1em;
    border-radius: 1px;
    border: 1px solid #384a5052;
    display: flex;
    flex-direction: column;
    margin: 1em;
    margin-top: 0px;
    margin-left: 0;
    box-shadow: 6px 8px 0px 2px #1b98a147;
}

.card div {
    margin-top: 0.5em;
}

.assets-overview-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.main-grid a {
    color: #09666d;
    font-weight: bold;
    text-decoration: none;
}

.main-grid a.MuiButton-contained {
    color: white;
}

.main-grid a.MuiButton-contained.Mui-disabled {
    color: gray;
}

a.button {
    color: white;
}

.main-grid a.button {
    padding: 0.5em;
}

.card-label {
    text-transform: uppercase;
    font-weight: bold;
    color: #1a777d;
    font-size: 0.7em;
    margin-bottom: 0.5em;
}

.card p {
    margin-top: 0.5em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.card ul {
    list-style-type: none;
    margin: 0;
    margin-top: 0.5em;
    padding: 0;
    display: flex;
    flex-direction: column;
}

ul.time-selectors {
    list-style-type: none;
    margin: 0;
    margin-top: 1em;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    flex-wrap: wrap;
    margin-bottom: 2em;
    font-size: 14px;
}

ul.time-selectors li {
    padding: 0.5em;
    border-right: 1px solid #40535371;
    cursor: pointer;
}

ul.time-selectors li:hover {
    color: black;
}

ul.time-selectors li:last-child {
    border-right: none;
}

.active-time-selector {
    position: relative;
}

.active-time-selector::before {
    content: "";
    position: absolute;
    border-top: 4px solid #1b98a1;
    width: 80%;
    height: 2px;
    bottom: 4px;
    left: 10%;
    z-index: -1;
}

select {
    margin-top: 0.5em;
    max-width: 200px;
}

.header-with-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
    flex-direction: row;
}

.header-button-group {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: end;
}

@media screen and (max-width: 800px) {
    .header-with-buttons {
        align-items: flex-start;
        flex-direction: column;
    }
    .header-button-group {
        justify-content: start;
    }
}
