ul.position-list {
    margin-top: 0.5em;
    margin-bottom: 4em;
    box-shadow: 6px 8px 0px 2px #1b98a147;
    display: flex;
    flex-direction: column;
}

.position-card {
    padding: 0.5em;
    border-radius: 1px;
    border: 1px solid #384a5052;
    border-left: 5px solid #384a5052;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
}

.position-card-expanded-content {
    padding: 60px;
    background: #8282820d;
    border: 1px solid #384a5052;
    border-left: 5px solid #1b98a1;
    border-bottom: 5px solid #384a5052;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
}

.position-card-charts {
    display: flex;
    flex-wrap: wrap;
}

.position-card-charts-header {
    display: flex;
    flex-wrap: wrap;
}

.position-card-charts-header h3 {
    margin-right: 2em;
}

.position-card-active {
    border-left: 5px solid #1b98a1;
}

.position-card>div {
    padding: 20px;
    flex-basis: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.position-name {
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
}

.position-card .position-name {
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
}

/* TODO: add handling for screens smaller than that. */

.position-card-chart {
    flex: 0 0 500px;
    margin-bottom: 2em;
    margin-top: 0em;
}

.position-card-chart h3 {
    margin-bottom: 0em;
}

.position-symbol {
    font-weight: bold;
    font-size: 1.5em;
}

.position-list-fields {
    display: flex;
    padding: 0.5em;
    padding-left: 45px;
    padding-right: 40px;
    background: #1b98a1;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    justify-content: space-between;
}

.position-list-fields li {
    padding: 20px;
    flex-basis: 200px;
}

.position-list-fields .position-list-fields-product {
    flex-basis: 250px;
}

.arrow-down-svg.up {
    transform: rotate(180deg);
}

div.position-values {
    display: grid;
    grid-template-columns: 100px 30px;
}

.column-stack {
    display: flex;
    flex-direction: column;
}