@font-face {
    font-family: 'comfortaa';
    src: url('./Comfortaa-Medium.ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('./OpenSans-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    font: 16px/1.3 Open Sans, sans-serif;
}

.logo {
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: normal;
}

.navigation a {
    display: inline-block;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    font-family: comfortaa;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    /* Side nav is hidden on mobile */
    grid-template-rows: 60px 1fr 120px;
    grid-template-areas: 'header' 'main' 'footer';
    height: 100vh;
}

.sidebar {
    display: none;
}

.light-gray-background {
    background: #EEF5F5;
}

.dark-gray-background {
    background: #404747;
}

.red-highlight {
    position: relative;
}

.red-highlight::before {
    content: "";
    position: absolute;
    border-top: 42px solid #e9625873;
    width: 114%;
    height: 2px;
    bottom: -1px;
    left: -7%;
    transform: rotate(-0.8deg);
    z-index: -1;
}

.button {
    padding: 0.8em;
    padding-left: 1em;
    padding-right: 1em;
    display: inline-block;
    background: #e96158;
    background: hsl(4deg 61% 51%);
    color: white;
    font-weight: bold;
    margin-top: 0.5em;
    text-align: center;
    text-decoration: none;
}

.button-secondary {
    padding: 0.8em;
    padding-left: 1em;
    padding-right: 1em;
    display: inline-block;
    background: white;
    color: hsl(4deg 61% 51%);
    font-weight: bold;
    margin-top: 0.5em;
    text-align: center;
    border: 2px solid hsl(4deg 61% 51%);
}

.button:hover {
    color: white;
    background: hsl(4deg 61% 45%);
}

.header {
    grid-area: header;
    /* background: #1b98a1; */
}

.header-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    font-family: comfortaa;
    font-size: 1.1rem;
    font-weight: bold;
    color: #1b98a1;
}

a, a:hover {
    color: #404747;
}

.main {
    grid-area: main;
    color: #404747;
    padding: 1em;
    height: 100%;
}

.footer {
    grid-area: footer;
    background: #40494d;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer a, .footer a:hover {
    color: white;
}

.navigation {
    display: flex;
    align-items: baseline;
}

.logo {
    padding: 20px 5px 20px 5px;
    text-decoration: none;
}

.navigation li {
    list-style-type: none;
    padding: 20px 10px 20px 10px;
    margin: 0px;
}

.navigation {
    margin: 0;
    padding: 0;
}

.hero {
    margin-top: 4em;
    margin-bottom: 4em;
}

ul.features {
    list-style-type: none;
    margin: 0;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.feature-card {
    padding: 2em;
    border-radius: 1px;
    border: 1px solid #384a5052;
    margin: 1em;
    box-shadow: 6px 8px 0px 2px #1b98a147;
}

@media only screen and (min-width: 350px) {
    .grid-container {
        grid-template-rows: 100px 1fr 120px;
    }
    .header-wrapper {
        flex-direction: row;
    }
}

.main-content {
    grid-area: main-content;
}

nav a {
    display: block;
    margin-bottom: 0.5em;
}

nav a.active {
    position: relative;
}

nav a.active::before {
    content: "";
    position: absolute;
    border-top: 4px solid #1b98a1;
    width: 10%;
    height: -9px;
    bottom: -2px;
    z-index: -1;
}

@media only screen and (min-width: 1200px) {
    .header-wrapper {
        width: 80%;
        margin: auto;
    }
    .main {
        width: 80%;
        margin: auto;
    }
    ul.features {
        list-style-type: none;
        margin: 0;
        margin-top: 2em;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        column-gap: 20px;
        align-items: stretch;
    }
    .feature-card {
        margin-left: 0;
        margin-right: 0;
    }
}