{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Invertimo</title>
    <link rel="stylesheet" href="{% static 'base.css' %}?version=1">
</head>

<body>
    <div class="grid-container">
        <div class="header">
            <div class="header-wrapper">
                <div class="logo">Invertimo</div>

                <ul class="navigation">
                    <li>Features</li>
                    <li>Pricing</li>
                    <li>Login</li>
                </ul>
            </div>

        </div>
        <div class="sidebar"></div>
        <div class="main">

            {% block content %}
            {% endblock %}

        </div>
        <div class="footer">
            <p>Part of <a href="https://blog.nerdie-investing.com">nerdie-investing</a>.</p>
        </div>
    </div>

</body>

</html>