{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'landing.css' %}?version=1">
<div class="hero">
    <h1>Keep all your investment related records in one place</h1>
    <h1><span class="red-highlight">Make your future taxes easy</span></h1>
    <p>Track your portfolio across different accounts, with assets in different currencies easily.</p>
    <p>
</div>
<ul class="features">
    <li class="feature-card">
        <h2>Keep track of your transactions</h2>
        <p>You can import your transactions and info about other events (e.g. dividend payouts, crypto staking payouts or saving interest)
            to invertimo using either manual or automated import.</p>
        <p>
            Invertimo supports batch upload from <a href="https://degiro.com">Degiro</a> (biggest European brokerage) and from Binance (one of the biggest crypto exchanges).
        </p>
        <p>
            More integrations are planned in the future.
        </p>
        <a class="button" href="/signup/">Get started for free</a>
    </li>
    <li class="picture-card">
        <img src="{% static 'transactions.png' %}" />
    </li>
</ul>
<ul class="features">

    <li class="feature-card">
        <h2>See your realized gains for any period easily</h2>
        <p>It's easy to lose track of all your transactions and get confused with currency exchange rates.</p>
        <p>On top of that in some countries such as Ireland, funds are taxed differently than stocks and
            you have to deal with deemed disposal and pay taxes from unrealized gains.</p>
        <p>Invertimo is perfect for an any investor with diverse assets, e.g in Euro, USD, GBP and crypto.</p>
        <a class="button" href="/signup/">Try it</a>

    </li>
    <li class="picture-card">
        <img src="{% static 'gains.png' %}" />
    </li>


</ul>
<ul class="features">
    <li class="feature-card">
        <h2>
            What contributed to the value of your portfolio over time?
        </h2>
        <p>
            Invertimo automatically fetches prices for recognized assets and can help you
            better understand your portfolio over time.
        </p>
    </li>
    <li class="picture-card">
        <img src="{% static 'account_overview.png' %}" />
    </li>

</ul>

<div class="hero">
    <h2>Developed with ❤️ as open source</h2>
    <p>
        The code is open source and can be found on <a href="https://github.com/ilonajulczuk/invertimo">github</a>.
    </p>
    <p>
        Developed by <a href="https://twitter.com/attilczuk">@attilczuk</a>.
    </p>
    <p>Do you have any suggestions? Send them to justyna@invertimo.com</p>
</div>
{% endblock %}