{% extends 'base.html' %}


{% block content %}

<div class="main-privacy">

    <div class="card">
        <h2>Privacy Policy</h2>
        <p>
            This privacy policy will explain how Invertimo (this website) uses the personal data we collect from you
            when
            you use our website.
        </p>
        <p>
            Data that you provide on the website is encrypted in transit (HTTPS) and at rest (stored in database that
            encrypts it).
        </p>
        <p>
            The data that you provide through various forms is not used for any other purposes than the Invertimo
            services that are provided to you.
            Some of your data, e.g. if you use certain feature might be used for decisions to improve the app itself.
        </p>
        <p>
            We might contact you about your experience with the app by using the email you used in the application.
        </p>
        <p>
            We use error tracking software called sentry. If you encounter an error,
            the problematic request will be securely stored in sentry.io Invertimo project and available for later
            inspection so that we can prevent errors like this from happening in the future.
        </p>
        <p>
            If you delete your account, all associated data will be deleted. When you delete things from the
            application, they are deleted.
            We store about 1 month of backup data, but don't perform regular backups.
        </p>
        <p>If you have more questions please contact justyna@invertimo.com</p>
    </div>
</div>

{% endblock %}