{% extends 'base.html' %}
{% load static %}

{% block more_head %}
<link rel="stylesheet" href="{% static 'login.css' %}?version=1">
{% endblock %}

{% block content %}

<div class="main-login">

    <div class="login-card">
        <h2>Let's get you set up!</h2>
        <p>Your account will be created when you sign in for the first time.</p>
        <a href='{% url "social:begin" "google-oauth2" %}' class="google-btn">
            <div class="google-icon-wrapper">
                <img class="google-icon"
                    src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
            </div>
            <span class="btn-text">
                Continue with
                Google
            </span>
            </a>

        </div>

        <p>By signing in you are agreeing to the <a href="{% url 'privacy_policy' %}" target="_blank">privacy
            policy</a>.</p>
    </div>
</div>


{% endblock %}